* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
header {
  background-image: url(images/bg-hero-desktop.svg);
  background-color: #ebfbff;
  padding: 50px;
  
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.nav-btn {
  border: none;
  padding: 10px 48px;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 1px 1px 3px 3px #eee;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  cursor: pointer;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 30px;
}

.hero-fig {
  max-width: 100%;
}

.hero-img {
  width: 100%;
}
.hero-text {
    padding-right: 60px ;
}

h1 {
font-family: 'Poppins', sans-serif;
font-size: 48px;
margin-bottom: 40px;
}

.hero-paragrap {
    line-height: 1.6;
    margin-bottom: 30px;
    font-size: 22px;
}

.start-btn {
    background-color: hsl(322, 100%, 66%);
    color: #fff;
}

